body {
  font-family: InterRegular, Arial, Helvetica, sans-serif;
  margin: 0;
}

.img {
  width: 100%;
}

.photo-tiles {
  margin: 0 50px;
}

.clear-button-floater {
  position: sticky;
  bottom: 0;
  left: 0;
}



