.header {
  margin: 64px 0 96px;
}

.searchAndTitleWrapper {
  display: flex;
  align-items: center;
}

.pageHeading {
  display: flex;
  margin-left: 4rem;
}

.pageheadingYugen {
  font-family: Bricolage_Grotesque, sans-serif;
  font-size: 16px;
  line-height: 26px;
}

.pageHeadingSlash {
  font-family: InterExtraLight, Arial, Helvetica, sans-serif;
  font-weight: 200;
  font-size: 42px;
  line-height: 100%;
}

.pageHeadingTitle {
  font-family: InterExtraLight, Arial, Helvetica, sans-serif;
  font-weight: 200;
  font-size: 42px;
  line-height: 100%;
  margin: 0;
}

.searchBtn {
  height: 44px;
  width: 44px;
  font-size: 2rem; // 32px
  border: none;
  background: none;
  cursor: pointer;
}

.closeBtn {
  font-size: 0.875rem; // 14px
  height: 1.5rem; // 24px
  width: 1.5rem; // 24px
  border: none;
  background: none;
  cursor: pointer;
}

.searchInput {
  display: none;
  font-family: InterExtraLight, Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-style: Regular;
  font-size: 24px;
  line-height: 100%;
  border: 0;
  flex-grow: 1;
}

.searchBar {
  display: flex;
  padding-left: 1.5rem; // 24px
  border-radius: 4.375rem; // 70px
  align-items: center;
  position: relative;
  height: 4rem; // 64px
  margin-left: 0.875rem; // 14px
  
  input {
    font-size: 1.5rem; // 24px
  }

  &.showSearchBar {  
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.3);
    width: 100%;
    padding-right: 1.5rem; // 24px
    margin-right: 0.875rem; // 14px

    &.noMatchingTags{
      background-color: #F5E8EC;
    } 
    
    .searchInput {
      display: block;
    }
  }

}

.noMatchingTagsLabel {
  font-size: 1.5rem; // 24px
}

.tagsList {
  align-self: flex-start;
  margin-top: 2rem; // 32px
  margin-left: 2.6875rem; // 43px
}