.assetTile {
  position: relative;
  width: 100%;
}

.thumbnail {
  width: 100%;
}

.actionButtonContainer {
  position: absolute;
  display: flex;
  gap: 1.5rem; // 24px
  top: 1.1875rem; // 19px
  right: 1.5rem; // 24px
}